#banner img {
  width: 100%;
  height: auto;
  opacity: 0.9;
}

#banner {
  height: 400px;
  margin-top: 20px;
}

.btn-default {
  margin-top: 10px;
  margin-bottom: 20px;
}

#counter {
  margin-bottom: .5em;
  font-weight: bolder;
  font-size: 2em;
  color: #DBDBD9;
}

.each_repo {
  margin: 2em;
  border-radius: 2%;
  border: 2px solid #f0f0f0;
  padding: 2em;
  height: 300px;
  background-color: #FCFCFA;
}

a {
  color: #FD9769;
}
b a:hover {
  color: #f57a3d;
}

b {
  font-size: 1.5em;
  font-weight: 200;
  letter-spacing: .5px;
  line-height: 1em;
}

.btn-primary {
  background-color: #f57a3d;
  border: 1px #f57a3d;
}

.btn-primary:active, .btn-primary:active:focus, .btn-primary:focus {
  background-color: #f46a25;
  border: 1px #f57a3d;
  outline: .5px #f57a3d;
}

.btn-primary:hover {
  background-color: #f46a25;
  border: 1px #f57a3d;
}

h1 {
  color: white;
}

h1 a {
  color: white;
}

h1 a:hover {
  color: #c8d0d0;
  text-decoration: none;
}

h5 {
  line-height: 1em;
  margin-bottom: 2em;
  color: white;
  letter-spacing: .5px;
  font-weight: normal;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

img {
  width: 200px;
  margin-top: 20px;
}

input:active {
  background: white;
}

label {
  margin-top: 40px;
}

li {
  list-style: none;
  margin-left: none;
}

.navbar {
  background: #0C2537;
}

.navbar-form {
  padding-right: 5em;
  padding-top: 2.5em;
}

.navbar-header {
  padding-left: 5em;
}

.results {
  margin: 2em;
  padding: 2em;
}
