#banner img {
  width: 100%;
  height: auto;
  opacity: 0.9;
}

#banner {
  height: 400px;
  margin-top: 20px;
}

.navbar {
  background: #0C2537;
}

.each_repo {
  margin: 2em;
  border-radius: 2%;
  border: 2px solid #f0f0f0;
  padding: 2em;
  height: 200px;

}

.results {
  margin: 2em;
  padding: 2em;
}

.navbar-header {
  padding-left: 5em;
}

.navbar-form {
  padding-right: 5em;
  padding-top: 2.5em;
}

h1 {
  color: white;
}

h5 {
  line-height: 1em;
  margin-bottom: 2em;
  color: white;
  letter-spacing: .5px;
  font-weight: normal;
}
input:active {
  background: white;
}

img {
  width: 100%;
  /*margin-bottom: 20px;*/
}

li {
  list-style: none;
}

.btn-default {
  margin-top: 10px;
  margin-bottom: 20px;
}

label {
  margin-top: 40px;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

img {
  width: 200px;
  margin-top: 20px;
}

#counter {
  margin-bottom: 1em;
  font-weight: bolder;
  font-size: 2em;
  color: #f2f2f2;
}
